@{
    ViewBag.Title = "About Us";
}

@Html.Partial("_Chose")

<div id="container" style="min-width: 800px; height: 600px; margin: 0px auto"></div>

<script type="text/javascript">

    function ShowT() {
        $.post(
			"/Home/GetMap",
			{ "y": $("#Hid_Year").val(), "m": $("#Hid_Month").val() },
			function (json, textStatus) {
			    if (textStatus = "success") {
			        var r1 = json.substring(0, json.indexOf("~*~"));

			        var r2 = json.substring(json.indexOf("~*~") + 3, json.lastIndexOf("~*~"));

			        var r3 = json.substring(json.lastIndexOf("~*~") + 3, json.length);

			        $('#container').highcharts({
			            chart: {
			                type: $("#Hid_Type").val()
			            },
			            title: {
			                text: 'Life Accounting',
			                x: -20 //center
			            },
			            subtitle: {
			                text: $("#Hid_Month").val() + '月账单',
			                x: -20
			            },
			            xAxis: {
			                categories: eval('(' + r1 + ')')
			            },
			            yAxis: {
			                title: {
			                    text: 'RMB (￥)'
			                },
			                plotLines: [{
			                    value: 10,
			                    width: 1,
			                    color: '#808080'
			                }]
			            },
			            tooltip: {
			                valueSuffix: '￥'
			            },
			            legend: {
			                layout: 'vertical',
			                align: 'right',
			                verticalAlign: 'middle',
			                borderWidth: 0
			            },
			            series: [eval('(' + r2 + ')'), eval('(' + r3 + ')')]
			        });
			    }
			}
		 );
    }
</script>