@{
    ViewBag.Title = "Quarter";
}


@Html.Partial("_Chart")

<div id="container" style="min-width: 800px; height: 600px; margin: 0px auto"></div>

<script type="text/javascript">

    function ShowT() {
        $.post(
			"/Home/GetQuarter",
			{ "y": $("#Hid_Year").val(), "t": $("#Hid_Tags").val(), "n": $("#Hid_Tags_Num").val() },
			function (json, textStatus) {
			    if (textStatus = "success") {
			        var dats = "{type: '" + $("#Hid_Type").val() + "', name: '金额/百分比', data: [" + json + "]}";

			        $('#container').highcharts({
			            chart: {
			                plotBackgroundColor: null,
			                plotBorderWidth: null,
			                plotShadow: false
			            },
			            title: {
			                text: $("#Hid_Year").val() + "/" + $("#res_tags").text() + ' 的各类消费账单信息：'
			            },
			            tooltip: {
			                pointFormat: '{series.name}: <b>{point.y}/{point.percentage:.1f}%</b>'
			            },
			            plotOptions: {
			                pie: {
			                    allowPointSelect: true,
			                    cursor: 'pointer',
			                    dataLabels: {
			                        enabled: true,
			                        color: '#FFFFFF',
			                        connectorColor: '#FFFFFF',
			                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
			                    }
			                }
			            },
			            series: [eval('(' + dats + ')')]
			        });
			    }
			}
		 );
    }
</script>
